
.icon-amazon:before { content: '\e803'; } /* '' */
.icon-soundcloud:before { content: '\e802'; } /* '' */
.icon-wordpress:before { content: '\e804'; } /* '' */
.icon-pause-1:before { content: '\e801'; } /* '' */
.icon-stop-1:before { content: '\e800'; } /* '' */
.icon-play-1:before { content: '\e805'; } /* '' */
.icon-to-end-alt:before { content: '\e806'; } /* '' */
.icon-to-start-alt:before { content: '\e807'; } /* '' */