@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?60717918');
  src: url('../font/icons.eot?60717918#iefix') format('embedded-opentype'),
       url('../font/icons.woff?60717918') format('woff'),
       url('../font/icons.ttf?60717918') format('truetype'),
       url('../font/icons.svg?60717918#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?60717918#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before, .stereo-buttons button:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 0.5em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}
 
.icon-amazon:before { content: '\e803'; } /* '' */
.icon-soundcloud:before { content: '\e802'; } /* '' */
.icon-wordpress:before { content: '\e804'; } /* '' */
.stereo-buttons .pause:before { content: '\e801'; } /* '' */
.stereo-buttons .stop:before { content: '\e800'; } /* '' */
.stereo-buttons .play:before { content: '\e805'; } /* '' */
.stereo-buttons .playpause:before { 
    position:relative;
    left:1px;
    content: '\e805'; 
} /* '' */
.playing .stereo-buttons .playpause:before { content: '\e801'; } /* '' */
.loading .stereo-buttons .playpause:before { 
    position:relative;
    content: '\e808'; 
    left:-0.2em;
    margin-left:0.05em;

} /* '' */
.stereo-buttons .next:before { content: '\e806'; } /* '' */
.stereo-buttons .prev:before { content: '\e807'; } /* '' */

.stereo-controls, .stereo-buttons, .stereo-label {
    float:left;
}

.stereo-controls {
    line-height:1;
    height:1.3em;
}

.stereo.track.active {
    cursor:pointer;
}

.stereo-buttons button {
    border:none;
    outline:0;
    background:transparent;
    cursor:pointer;
    float:left;
    line-height:1;
}
.stereo-buttons button:active {
    opacity:0.5;
}

.stereo-buttons .prev {
    padding-right:0.75em;
}

.stereo-buttons .next {
    padding-right:2.25em;
}

.stereo-label {
    width:200px;
    overflow:hidden;
    position:relative;
    top:2px;
    height:100%;
    line-height:1;
}

.stereo-label span {
    display:block;
    position:absolute;
    top:100%;
}
.stereo-label .load-error {
    top:0;
}
.stereo-label .current {
    top:0;
}

.stereo-label .artist {
    display:none;
}

.loading .stereo-buttons .playpause {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
   -webkit-transform-origin:53% 47%;
  -moz-transform-origin:53% 47%;
  -ms-transform-origin:53% 47%;
  -o-transform-origin:53% 47%;
  transform-origin: 53% 47%;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

