@charset "UTF-8";
@font-face {
  font-family: 'stereo-icons';
  src: url("../font/icons.eot?60717918");
  src: url("../font/icons.eot?60717918#iefix") format("embedded-opentype"), url("../font/icons.woff?60717918") format("woff"), url("../font/icons.ttf?60717918") format("truetype"), url("../font/icons.svg?60717918#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?60717918#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before, .stereo-buttons button:before, .stereo-spinner:before {
  font-family: "stereo-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.3em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em; }

.icon-amazon:before {
  content: '\e803'; }

/* '' */
.icon-soundcloud:before {
  content: '\e802'; }

/* '' */
.icon-wordpress:before {
  content: '\e804'; }

/* '' */
.stereo-buttons .pause:before {
  content: '\e801'; }

/* '' */
.stereo-buttons .stop:before {
  content: '\e800'; }

/* '' */
.stereo-buttons .play:before {
  content: '\e805'; }

/* '' */
.stereo-buttons .playpause:before {
  content: '\e805'; }

/* '' */
.playing .stereo-buttons .playpause:before {
  content: '\e801'; }

/* '' */
.stereo-spinner:before,
.loading .stereo-buttons .playpause:before {
  content: '\e808'; }

/* '' */
.stereo-buttons .next:before {
  content: '\e806'; }

/* '' */
.stereo-buttons .prev:before {
  content: '\e807'; }

/* '' */
.stereo-controls {
  position: relative;
  font-size: 1em;
  min-height: 3em; }
  .stereo-controls::after {
    clear: both;
    content: "";
    display: table; }

.stereo-buttons, .stereo-label {
  float: left; }

.stereo.track.active {
  cursor: pointer; }

.stereo-buttons {
  white-space: nowrap;
  width: 6.5em; }

.stereo-controls .stereo-buttons button {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  border: none;
  outline: 0;
  background: transparent;
  color: #000;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  letter-spacing: 0; }

.stereo-buttons button:active {
  opacity: 0.5; }

.stereo-buttons .playpause {
  font-size: 150%; }

.playing .stereo-buttons .playpause, .loading .stereo-buttons .playpause {
  font-size: 100%; }
  .playing .stereo-buttons .playpause:before, .loading .stereo-buttons .playpause:before {
    width: 1.5em;
    margin: 0 0.45em; }

.stereo-label a {
  color: #000; }

.stereo-label {
  overflow: hidden;
  line-height: 1;
  position: relative;
  width: -webkit-calc(100% - 6.5em);
  width: calc(100% - 6.5em);
  min-width: 12em; }

.stereo-label span {
  display: block;
  position: absolute;
  top: 100%; }

.ticker .stereo-label {
  height: 1.6em; }
  .ticker .stereo-label span {
    white-space: nowrap;
    height: 100%;
    line-height: 1.6; }

.stereo-label .load-error {
  top: 0; }

.stereo-label .current {
  top: 0; }

.stereo-label .artist {
  display: none; }

.stereo-position {
  position: relative;
  margin: 10px 0;
  width: 100%;
  clear: both;
  cursor: pointer; }
  .stereo-position .progress {
    top: 4px;
    position: absolute;
    background-color: #ddd;
    height: 8px;
    width: 100%;
    border-radius: 8px; }
  .stereo-position .meter {
    background-color: #aaa;
    position: absolute;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 1px 3px #555555 inset; }
  .stereo-position .rail {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0 solid transparent;
    border-width: 0 5px; }
  .stereo-position .handle {
    z-index: 10;
    position: absolute;
    padding: 6px 20px;
    margin-top: -9px;
    margin-left: -17.5px; }
    .stereo-position .handle:before {
      border-radius: 4px;
      content: "";
      display: block;
      background-color: #000;
      width: 5px;
      margin-left: -5px;
      height: 14px; }

.stopped .stereo-position .handle:before {
  background-color: #bbb; }

.stereo-spinner {
  text-shadow: 1px 0 0 #aaa, 0 -1px 0 #aaa, 0 1px 0 #aaa, -1px 0 0 #aaa;
  position: fixed;
  font-size: 2em;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1em;
  opacity: 0;
  transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s; }

.stereo-loading .stereo-spinner {
  opacity: 1;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  -webkit-transform-origin: 54% 47%;
  -moz-transform-origin: 54% 47%;
  -ms-transform-origin: 54% 47%;
  -o-transform-origin: 54% 47%;
  transform-origin: 54% 47%; }

.loading .stereo-buttons .playpause:before {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

/*# sourceMappingURL=stereo.css.map */