[submodule "lib/scb"]
	path = lib/scb
	url = https://github.com/scribu/wp-scb-framework.git
[submodule "lib/p2p-core"]
	path = lib/p2p-core
	url = https://github.com/AppThemes/wp-posts-to-posts-core.git
[submodule "lib/php-soundcloud"]
	path = lib/php-soundcloud
	url = https://github.com/mptre/php-soundcloud.git
[submodule "js/src/vendor/soundmanager2"]
	path = js/src/vendor/soundmanager2
	url = https://github.com/scottschiller/SoundManager2.git
[submodule "js/test/qunit"]
	path = js/test/qunit
	url = https://github.com/jquery/qunit.git
