.soundcloud-avatar img {
    vertical-align:middle;
}
.url-select {
    font-size:1em;
    width:40em!important;
}
.stereo-donate {
    display:block;
}
.handle {
    font-weight:bold;
}

h3 {
    margin-top:2em;
    padding-bottom:0.2em;
    border-bottom:1px solid #ccc;
}
