.soundcloud-avatar img {
    vertical-align:middle;
}
.url-select {
    font-size:1em;
    width:40em!important;
}
.stereo-donate {
    display:block;
    float:right;
    margin-top:16px;
}
.handle {
    font-weight:bold;
}
