.stereo-track {
    cursor:move;
    position:relative;
    border:1px solid #DFDFDF;
    overflow:hidden;
    transition:background-color 1s ;
    -webkit-transition:background-color 1s ;
    -moz-transition:background-color 1s ;
    -o-transition:background-color 1s ;
}
.stereo-track.more {
    background-color:#eeeeee;
}


.stereo-track .actions {
    float:right;
    padding-right:0;
    width:70%;
}

.stereo-track-number {
    font-size:1.7em;
    display:block;
    width:6%;
    line-height:1.65;
    text-align:center;
    float:left;
}
.stereo-track-name {
    font-size:1.7em;
    padding:3px 1%;
    line-height:100%;
    width:47%;
    float:left;
}

.stereo-metadata {
    margin-top:0.8em;
    color:#999;
    display:block;
    float:left;
    width:43%;
}
.stereo-metadata li {
    float:left;
    padding-right:0.5em;
    font-size:0.8em;
    line-height:2.4;
}
.stereo-metadata li ul {
    position:relative;
    top:-1em;
}
.stereo-metadata select { 
    max-width:100%;
    font-size:1em;
}
.stereo-metadata li li {
    clear:right;
    font-size:1em;
    float:none;
    line-height:1.2;
}
.nofile .metadata {
    display:none;
}
.stereo-metadata .submitbox {
    margin-top:1em;
}
.stereo-track-actions-label {
    position:relative;
    z-index:1;
    font-size:1.5em;
    line-height:1;
    float:right;
}
.stereo-track-actions-label:after {
    content: "\f107";
}
.more .stereo-track-actions-label:after {
    content: "\f343";
}
.stereo-track.more .hide-if-js {
    display:block;
}

.stereo-stop { display: none }
.playing .stereo-play { display:none; }
.playing .stereo-stop { display:inline; }

.stereo-play {
    color:#ccc;
}
.stereo-stop, .active .stereo-play {
    color:black;
}

.stereo-play, .stereo-stop {
    position:relative;
    top:3px;
    font-size:16px;
    line-height:1;
    text-decoration:none;
}
.stereo-play:hover, .stereo-stop:hover {
    color:black;
}

.stereo-play:active, .stereo-stop:active {
    outline:0;
}

.host-icon {
    display:block;
    text-align:center;
    float:left;
    position:relative;
    top:5px;
    font-size:16px;
    line-height:1;
    width:30px;
}

.metadata .icon-wordpress {
    color: #21759b;
}
.metadata .icon-soundcloud {
    color: #ff5c00;
}

.button .icon {
    font-size:16px;
    margin-left:-10px;
    padding-right:4px;
    display:block;
    float:left;
}

